repositories:
  - name: ingress-nginx
    url: https://kubernetes.github.io/ingress-nginx
  - name: metrics-server
    url: https://kubernetes-sigs.github.io/metrics-server
  - name: jetstack
    url: https://charts.jetstack.io
  - name: bitnami
    url: https://mirror.yandex.ru/helm/charts.bitnami.com

environments:
  prod:
    values:
      - environments/prod/values.yaml.gotmpl

---

releases:
  - name: ingress-nginx
    labels:
      app: ingress-nginx
    wait: true
    chart: ingress-nginx/ingress-nginx
    version: 4.14.1
    values:
      - values-ingress-nginx.yaml.gotmpl

  - name: metrics-server
    labels:
      app: metrics-server
    wait: true
    chart: metrics-server/metrics-server
    version: 3.13.0
    values:
      - args:
        - "--kubelet-insecure-tls"

  - name: cert-manager
    wait: true
    chart: jetstack/cert-manager
    version: 1.14.5
    needs: 
      - ingress-nginx
    values:
      - values-cert-manager.yaml.gotmpl
    # deploy custom resource using hooks feature of helmfile since there is nothing like extraDeploy for this chart
    hooks:
      - events: ["postsync"]
        showlogs: true
        command: "sh"
        # envsubst tool is used to replace env variables in file with their values
        args: ["-c", "envsubst < ./cert-manager-cluster-issuer.yaml | kubectl apply -f -"]

  - name: postgresql
    labels:
      app: postgresql
    wait: true
    chart: bitnami/postgresql
    version: 12.2.7
    values:
      - values-postgresql.yaml.gotmpl
